<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hr.tvz.android.tasksonfirerep">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="hr.tvz.android.tasksonfirerep.TasksOnFire"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="hr.tvz.android.tasksonfirerep.ui.signup.SuccessfulRegisterActivity">
        </activity>
        <activity
                android:name="hr.tvz.android.tasksonfirerep.ui.signup.SignupActivity"
                android:windowSoftInputMode="adjustResize"
                android:parentActivityName="hr.tvz.android.tasksonfirerep.ui.login.LoginActivity">
        </activity>
        <activity
                android:name="hr.tvz.android.tasksonfirerep.ui.login.LoginActivity"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="hr.tvz.android.tasksonfirerep.ui.task.TasksActivity">
        </activity>
    </application>

</manifest>